* {
    box-sizing: border-box;
}


a {
    color: black;

}

#answer-btn {
    margin: 4px;
    background: #d4a373 ;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #e9edc9;
   font-family: 'Khand', sans-serif;
}

header {
   font-family: 'Khand', sans-serif;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-primary {
    color: #fff;
    background-color: #d4a373;
    border-color: #d4a373;
}



.timer {
    justify-content: flex-end;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

p {
    text-align: center;
}

.hide {
    display: none;
}


.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
}

li {
    font-weight: bold;
}


.high-score-title {
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: x-large;
}